.git/**
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
*.vsix
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
esbuild.js
img/icon.svg
node_modules/**
out/**
package-lock.json
src/**
scripts/**
__pycache__
.pytest_cache